.team-title {
    text-align: center;
}

.team-title p:first-child {
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 90px 0 25px;
}

.team-title p:nth-child(2) {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin: 0;
}

.team-title span {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    display: inline-block;
    margin: 40px 0 60px;
}

.team-title p:last-child {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    margin: 0 auto;
    max-width: 954px;
}

.team-content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 90px auto 0;
}

.team-content-text {
    padding: 30px 0 115px;
}

.team-content-text div:first-child {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

.team-content-text div:last-child {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
}

.team-content-img {
    position: relative;
    max-height: 470px;
    cursor: pointer;
}

.team-content-img:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #95e1d3;
    transition: transform 200ms; 
}

.team-hover-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-image: linear-gradient(to top, #fce38a, #f38181);
    width: 380px;
    height: 470px;
    
}

.team-hover-img:hover {
    opacity: 0.8;
}

.team-hover-img:hover + .team-hover-img-item {
    opacity: 1;
}


.team-hover-img-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 0;
    transition: opacity 200ms;
}

.team-hover-img-item:hover {
    opacity: 1;
}

.team-hover-img-item div i {
    color: #f38181;
    font-size: 24px;
}

.team-hover-img-item div {
    background-color: #fce38a;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f381817e;
}

.team-hover-img-item div:hover {
    background-color: #f38181;
}

.team-hover-img-item div:hover i {
    color: #ffffff;
}

.team-logo {
    max-width: 1920px;
    width: 100%;
    background-color: #f8f8f8;
}

.team-logo-img {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}